<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.titan.arm.dao.SchoolDao">
    <!--插入方法-->
    <insert id="insert" parameterType="com.titan.arm.entity.School">
        INSERT INTO school (code, name) VALUES (#{code},#{name})
    </insert>

    <!--删除全部-->
    <delete id="deleteAll">
        delete * from school
    </delete>
</mapper>